@charset "utf-8";
/* CSS Document */

header {
    min-height: 90px;
    background-color: #ffffff;
    border-bottom: 2px solid #2d4444;
    color: #2d4444;
    font-size: 20px;
    margin-bottom: 40px;
}


.login-box {
    float: none;
    border: 1px solid #2d4444;
    border-radius: 10px;
    margin: 0 auto;
    min-height: 270px;
}

.navbar-functions {
    float: right;
    padding: 30px 0;
}
@media (min-width: 768px){
.navbar-default .navbar-collapse {
    height: auto;
    float: right;
    padding: 18px 0 0;
}

}

